!!!
%html
  %head
    %title brirb
    %link{:href => "brirb.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "jquery.min.js", :type => "text/javascript"}
    %script{:src => "brirb.js", :type => "text/javascript"}
  %body
    #log
    %form
      &gt;&gt;
      %input#input{:type => 'text'}
